.loginbox {
  position: absolute;
  top: 50%;
  left: 75%;
  width: 500px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(101, 103, 224, 0.6);
  border-radius: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #22212152;
  h2 {
    border-radius: 10px;
    margin: -10px 0 20px;
    padding: 0;
    color: wheat;
    font-size: 50px;
    text-align: center;
    font-family: "Caveat", cursive;
    background-color: black;
  }

  .userbox {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;

    input {
      padding: 10px;
      margin: 10px 0;
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
    }

    textarea {
      padding: 10px;
      margin: 10px 0;
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
    }

    &:focus {
      box-shadow: 0 0 5px #b0cfe0;
      border: 1px solid #b0cfe0;
    }
    label {
      color: #ffffff;
      font-size: 20px;
      padding-block: 5px;
    }
  }

  .btn {
    background-color: black;
    padding: 10px 10px;
    color: wheat;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin-top: 10px;
    letter-spacing: 3px;
    border-radius: 15px;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
      background: #58505034;
      color: wheat;
      border-radius: 15px;
      box-shadow: #8cabdaea;
    }
  }
  .text_danger {
    color: red;
    padding-block: 10px;
  }
}
@media (max-width: 600px) {
  .loginbox {
    top: 40%;
    left: 50%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(101, 103, 224, 0.6);
    border-radius: 10px;

    h2 {
      margin: 0 0 10px;
      padding: 0;
      color: wheat;
      text-align: center;
    }

    .userbox {
      input {
        padding: 5px;
        margin: 5px 0;
        font-size: 18px;
        font-weight: 700;
      }

      textarea {
        padding: 5px;
        margin: 5px 0;
        font-size: 18px;
        font-weight: 700;
      }

      &:focus {
        box-shadow: 0 0 5px #b0cfe0;
        border: 1px solid #b0cfe0;
      }
      label {
        color: #ffffff;
        font-size: 20px;
        padding-block: 5px;
      }
    }
  }
}
