.loginbox {
  position: absolute;
  top: 50%;
  left: 75%;
  width: 500px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(101, 103, 224, 0.6);
  border-radius: 10px;
  padding: 20px;
  border-radius: 10px;
  h2 {
    border-radius: 10px;
    margin: -10px 0 20px;
    padding: 0;
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: "Caveat", cursive;
    background-color: black;
  }

  .userbox {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;

    &:focus {
      box-shadow: 0 0 5px #b0cfe0;
      border: 1px solid #b0cfe0;
    }
    label {
      color: #ad75d2;
      font-size: 15px;
      padding-block: 5px;
    }
  }

  .btn {
    background: #2a2957;
    padding: 10px 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin-top: 10px;
    letter-spacing: 3px;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    &:hover {
      cursor: pointer;
      background: #58505034;
      color: white;
      border-radius: 15px;
      box-shadow: #8cabdaea;
    }
  }
  .text_danger {
    color: red;
    padding-block: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .loginbox {
    top: 40%;
    left: 50%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(101, 103, 224, 0.6);
    border-radius: 10px;
    h2 {
      margin: 0 0 25px;
      padding: 0;
      color: wheat;
      text-align: center;
    }
  }
}
