.loginbox {
  position: absolute;
  top: 50%;
  left: 75%;
  width: 500px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: black;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(101, 103, 224, 0.6);
  border-radius: 10px;
  h2 {
    margin: -10px 0 20px;
    padding: 0;
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: "Caveat", cursive;
    animation: Milan 5s infinite;
  }
  .userbox {
    position: relative;
    padding-block: 6px;
    input {
      width: 100%;
      padding: 2px 0;
      font-size: 25px;
      color: #fff;
      border: none;
      border-bottom: 1px solid #a685b2;
      outline: none;
      background: transparent;
      &:focus {
        ~ {
          label {
            top: -35px;
            left: 0;
            color: white;
            font-size: 20px;
          }
        }
      }
      &:valid {
        ~ {
          label {
            top: -35px;
            left: 0;
            color: white;
            font-size: 20px;
          }
        }
      }
    }
    label {
      top: 0px;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      transition: 0.5s;
    }
  }
  .btn {
    background: #2a2957;
    padding: 10px 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin-top: 10px;
    letter-spacing: 3px;
    border-radius: 15px;
    animation: Milan 5s infinite;
    font-family: "Caveat", cursive;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
      background: #58505034;
      color: white;
      border-radius: 15px;
      box-shadow: #8cabdaea;
    }
  }
  .text_danger {
    color: red;
    padding-block: 10px;
  }
  .alert {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .loginbox {
    top: 35%;
    left: 50%;
    width: 330px;
    padding: 25px;
    transform: translate(-50%, -50%);
    background: black;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(101, 103, 224, 0.6);
    border-radius: 10px;
    h2 {
      margin: 0 0 25px;
      padding: 0;
      color: wheat;
      text-align: center;
    }
    .userbox {
      position: relative;
      input {
        width: 100%;
        padding: 5px 0;
        font-size: 25px;
        color: #fff;
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
      }
      .id {
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: 0.5s;
      }
    }
  }
}
