.project-section {
  width: 90%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  overflow: scroll;
  background-color: rgba(223, 223, 223, 0.6);
  border: 1px solid whitesmoke;
  border-radius: 25px;
}

.project-section::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.project-section {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.project-section {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
}
