.content {
  position: relative;
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.introduction {
  color: var(--txt);
  padding: 5rem 0 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.introductionText {
  display: flex;
  flex-direction: column;
  word-spacing: 0.2rem;
  width: 90%;

  .title {
    font-size: 2.6rem;
    text-align: center;
  }

  .description {
    padding-top: 2.5rem;
    font-size: 1.3rem;
    text-align: left;
    line-height: 1.8rem;

    p {
      margin: 1rem;
      padding: 10px 40px 10px 40px;
    }
  }
}

.purple {
  color: var(--txt-secondary);
}

.introSocial {
  z-index: 1;
  padding-top: 3rem;
  text-align: center;

  h1 {
    font-size: 2.5rem;
  }
  p {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
  }
}

.milan {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
  padding-inline-start: 0;
  list-style: none;
}

.socialLink {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.socialIcon {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 2rem;
  color: var(--social-icon);
  background: hsla(0, 0%, 100%, 0.972);
  border-radius: 50%;
  transition: 0.5s;
}

.socialIcon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--social-shadow);
}

.counter {
  margin: 0 auto;
  padding-top: 1.3rem;
}

@media (max-width: 1024px) {
  .description {
    p {
      margin: 2rem !important;
      padding: 5px 5px 5px 5px !important;
    }
  }
  .introductionText {
    width: 100%;
  }
}
